.breed-select {
    margin: 20px auto;
    max-width: 300px;
}

.cat-info {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrap {
    max-width: 40vw;
    padding: 20px;
    display: grid;
    text-align: center;
}